<template>
    <main class="grid grid-cols-2 p-4 gap-4 h-screen">
        <div style="background: url(/images/pokeball.png) center center / contain no-repeat; width: 180px; height: 124px;" v-for="pokemon in pokemons">
            <div class="w-full h-full" :style="'background: url(/images/stripes/' + pokemon.id  + '.png) center bottom no-repeat;'">
                <div style="-webkit-text-stroke: 1px black;" class="text-center text-white text-2xl">{{ pokemon.name }}</div>
            </div>
        </div>
    </main>
</template>

<script>
module.exports = {
    props: [
        'roster',
    ],
    data: function () {
        return {
            pokemons: Array
        }
    },
    created: function() {
        setInterval(
            this.getRoster,
            5000
        );
    },
    methods : {
        getRoster () {
            axios.get('/ajax/rosters/' + this.roster.id).then(response => {
                this.pokemons = response.data;
            })
        }
    }
}
</script>
